.cont {
    background-color: red;
    height: 454px;
}

.box {
    border: 2px solid black;
    display: inline-block   ;
    /* transform: translate(134px, 34px) rotate(0.25turn); */
    transform: translate(134px, 34px) rotateX(45deg) rotateY(-7deg) rotateZ(43deg);
    /* transform: translate(134px, 34px) rotate(45deg); */
    transform-origin: 0;
    /* transform: scale(4, 7); */
    /* transform: scaleX(8); */
    /* transform: scaleY(8); */
    /* transform: skew(110deg,10deg); */
    /* transform: matrix(1,2,3,4,5,6); */

}